body{
  align-content: center;
  width: 85vw;
}

#Content{
  top: 50%;
  left: 50%;
  
}

#Header{
  text-align: center;
}

#MapDiv{
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.Map{
  margin: 0 20px;
}

@media (max-height: 680px){
  #MapDiv{
    display: flex;
    flex-direction: column;
    --flex-wrap: wrap;
    justify-content: space-around;
}

}