<h2><%- name %></h2>
  <div id="content">
    <img src="<%- `https://open.mapquestapi.com/staticmap/v5/map?key=bHFGwnYDpeEqGPgYbqqmHBr7LuInUuNZ&locations=${lat},${lng}&size=200,200@2x` %>">
    <div>
      <%- requestList %>
    </div>
    <div>
      <%- requestForm %>
    </div>
  </div>