<div>
  <h2>Create Box</h2>
  <form method="POST" action="/box-locations/create">
    <label>Name</label>
    <textarea name="content" rows="10" required></textarea>
    <label>Lat</label>
    <textarea name="content" rows="10" required></textarea>
    <label>Lng</label>
    <textarea name="content" rows="10" required></textarea>
    <input type="submit" value="Post"/>
  </form>
</div>