<div>
  <h2>Create Box</h2>
  <form method="POST" action="/box-locations/create">
    <label>Name</label>
    <textarea name="name" rows="10" required></textarea>
    <label>Latitude</label>
    <input type="number" name="lat" rows="1" required/>
    <label>Longitude</label>
    <input type="number" rows="1" name="lng" required/>
    <button type="submit" value="Create Chest Location"></button>
  </form>
</div>