<div>
  <h2>Create Box</h2>
  <form method="POST" action="/box-locations/create">
    <label>Name</label>
    <textarea name="name" rows="10" required></textarea>
    <label>Lat</label>
    <textarea name="lat" rows="10" required></textarea>
    <label>Lng</label>
    <textarea name="lng" rows="10" required></textarea>
    <input type="submit" value="Post"/>
  </form>
</div>