<div >
  <div id="header-wrapper">
    <div id="Header">
      <h4>
        Build a Better Tomorrow
      </h4>
      <h1 class="headertext">
        MHK Community Chest
      </h1>
    </div>
  </div>


  <div id="Intro">
    <div id="intro-inner">
      <img src="happy-people-2.jpg"/>
      <div id="nice-icons">
      
        <div id="community" class="intro-icons">
          <h4>Our goal is to build community</h4>
          <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
              width="150" height="150"
              viewBox="0 0 226 226"
              style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,226v-226h226v226z" fill="none"></path><g fill="#2f723b"><path d="M75.33333,22.6c-12.48164,0 -22.6,10.11836 -22.6,22.6c0,12.48164 10.11836,22.6 22.6,22.6c12.48164,0 22.6,-10.11836 22.6,-22.6c0,-12.48164 -10.11836,-22.6 -22.6,-22.6zM143.13333,22.6c-12.48164,0 -22.6,10.11836 -22.6,22.6c0,12.48164 10.11836,22.6 22.6,22.6c12.48164,0 22.6,-10.11836 22.6,-22.6c0,-12.48164 -10.11836,-22.6 -22.6,-22.6zM67.8,82.86667c-12.39211,0 -22.6,10.20789 -22.6,22.6v45.2c-0.05262,4.04411 3.09724,7.40829 7.13607,7.62162v45.87682c0,3.28453 3.48946,6.76823 7.78346,6.76823c4.09813,0 7.49755,-3.17789 7.76875,-7.26849l3.29583,-49.49635c0.1356,-1.9662 1.77069,-3.50182 3.75195,-3.50182c1.98127,0 3.61635,1.5428 3.75195,3.51654l3.29583,49.48164c0.27121,4.08307 3.67062,7.26849 7.76875,7.26849c4.29401,0 7.78347,-3.48946 7.78347,-7.78346v-105.21654h45.59726c2.71679,0.03842 5.24381,-1.38896 6.61342,-3.73558c1.36961,-2.34661 1.36961,-5.2489 0,-7.59552c-1.36961,-2.34661 -3.89663,-3.774 -6.61342,-3.73558zM165.55677,88.59024c0.04521,0.6102 0.17657,1.19203 0.17657,1.80976c0,12.48273 -10.11727,22.6 -22.6,22.6h-30.13333v37.66667c0,4.16593 3.37493,7.53333 7.53333,7.53333v44.94987c0,4.294 3.48946,7.78346 7.78346,7.78346c4.09813,0 7.49755,-3.17789 7.76875,-7.26849l3.29583,-49.49635c0.1356,-1.9662 1.77069,-3.50182 3.75195,-3.50182c1.98127,0 3.61635,1.5428 3.75195,3.51654l3.29583,49.48164c0.2712,4.08307 3.67062,7.26849 7.76875,7.26849c4.294,0 7.78346,-3.48946 7.78346,-7.78346v-44.94987c4.1584,0 7.53333,-3.3674 7.53333,-7.53333v-45.2c0,-6.7348 -3.01663,-12.7331 -7.7099,-16.87643z"></path></g></g></svg>
        </div>
        <div id="web" class="intro-icons">
          <h4>By using the power of the web</h4>
          <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
            width="150" height="150"
            viewBox="0 0 172 172"
            style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#2f723b"><path d="M86,6.88c-36.48281,0 -67.26812,24.8325 -76.37875,58.48h7.17563c2.58,-8.61344 6.75906,-16.51469 12.12062,-23.44844c5.87219,3.30562 12.67156,6.07375 20.19656,8.19687c-1.26313,4.82406 -2.29781,9.90344 -3.02344,15.25156h7.01437c0.69875,-4.73 1.65281,-9.245 2.78156,-13.545c8.29094,1.8275 17.25375,2.91594 26.67344,3.1175v10.4275h6.88v-10.4275c9.41969,-0.20156 18.3825,-1.27656 26.67344,-3.1175c1.12875,4.3 2.08281,8.815 2.78156,13.545h7.01438c-0.72563,-5.34812 -1.76031,-10.4275 -3.02344,-15.25156c7.525,-2.12312 14.32438,-4.89125 20.19656,-8.19687c5.36156,6.93375 9.54063,14.835 12.10719,23.44844h7.18906c-9.11062,-33.6475 -39.89594,-58.48 -76.37875,-58.48zM82.56,14.17656v33.87594c-8.74781,-0.20156 -17.06562,-1.20937 -24.725,-2.87562c5.65719,-16.91781 14.62,-28.76969 24.725,-31.00031zM89.44,14.17656c10.105,2.23062 19.06781,14.0825 24.725,31.00031c-7.65937,1.66625 -15.97719,2.67406 -24.725,2.87562zM65.81688,16.68938c-6.06031,6.39625 -11.12625,15.61437 -14.78125,26.79437c-6.57094,-1.85437 -12.51031,-4.20594 -17.58969,-6.93375c8.7075,-9.25844 19.84719,-16.19219 32.37094,-19.86062zM106.18313,16.68938c12.52375,3.66844 23.66344,10.60219 32.37094,19.86062c-5.07938,2.72781 -11.01875,5.07938 -17.58969,6.93375c-3.655,-11.18 -8.72094,-20.39812 -14.78125,-26.79437zM10.32,72.24l8.73438,27.52h8.00875l7.28312,-20.57281l7.28313,20.57281h7.83406l8.89563,-27.52h-7.44438l-5.61687,19.22906l-6.42313,-19.22906h-8.77469l-6.69187,18.90656l-5.52281,-18.90656zM61.97375,72.24l8.74781,27.52h8.02219l7.25625,-20.57281l7.29656,20.57281h7.83406l8.89562,-27.52h-7.45781l-5.60344,19.22906l-6.42312,-19.22906h-8.78813l-6.69187,18.90656l-5.50938,-18.90656zM113.46625,72.24l8.76125,27.52h8.04906l7.29656,-20.57281l7.32344,20.57281h7.86094l8.9225,-27.52h-7.47125l-5.64375,19.22906l-6.43656,-19.22906h-8.815l-6.71875,18.90656l-5.54969,-18.90656zM9.62125,106.64c9.11063,33.6475 39.89594,58.48 76.37875,58.48c36.48281,0 67.26813,-24.8325 76.37875,-58.48h-7.18906c-2.56656,8.61344 -6.74562,16.51469 -12.10719,23.44844c-5.87219,-3.30562 -12.67156,-6.07375 -20.19656,-8.19687c1.26313,-4.82406 2.29781,-9.90344 3.02344,-15.25156h-7.01438c-0.69875,4.73 -1.65281,9.245 -2.78156,13.545c-8.29094,-1.8275 -17.25375,-2.91594 -26.67344,-3.1175v-10.4275h-6.88v10.4275c-9.41969,0.20156 -18.3825,1.27656 -26.67344,3.1175c-1.12875,-4.3 -2.08281,-8.815 -2.78156,-13.545h-7.01437c0.72562,5.34813 1.76031,10.4275 3.02344,15.25156c-7.525,2.12312 -14.32438,4.89125 -20.19656,8.19687c-5.36156,-6.93375 -9.54062,-14.835 -12.12062,-23.44844zM82.56,123.9475v33.87594c-10.105,-2.23062 -19.06781,-14.0825 -24.725,-31.00031c7.65938,-1.66625 15.97719,-2.67406 24.725,-2.87563zM89.44,123.9475c8.74781,0.20156 17.06563,1.20938 24.725,2.87563c-5.65719,16.91781 -14.62,28.76969 -24.725,31.00031zM51.04906,128.51625c3.655,11.18 8.7075,20.39813 14.76781,26.78094c-12.52375,-3.655 -23.66344,-10.58875 -32.37094,-19.84719c5.07938,-2.74125 11.01875,-5.07937 17.60313,-6.93375zM120.96438,128.51625c6.57094,1.85438 12.51031,4.20594 17.58969,6.93375c-8.7075,9.25844 -19.84719,16.19219 -32.37094,19.84719c6.06031,-6.38281 11.12625,-15.60094 14.78125,-26.78094z"></path></g></g></svg>
        </div>
        <div id="connect" class="intro-icons">
          <h4>To connect the citizens of Manhattan</h4>
          <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
            width="150" height="150"
            viewBox="0 0 172 172"
            style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#2f723b"><path d="M101.92903,23.46663c-3.60011,0.16666 -7.18687,1.0914 -10.53304,2.76449c-0.09718,0.04841 -0.19287,0.09976 -0.28695,0.15397l-10.16211,5.87191c-0.10722,-0.00555 -0.21458,-0.00788 -0.32194,-0.007h-68.08333c-1.93842,-0.02741 -3.74144,0.99102 -4.71865,2.66532c-0.97721,1.6743 -0.97721,3.74507 0,5.41937c0.97721,1.6743 2.78023,2.69273 4.71865,2.66532h45.73649l-2.33757,0.97282c-0.11607,0.04731 -0.23045,0.09867 -0.34294,0.15397c-5.95677,2.97838 -8.70484,9.32312 -8.11149,15.0332c0.59335,5.71009 4.68118,11.40266 11.23291,13.03857c2.55392,0.63632 5.39078,1.00781 8.48242,1.00781c15.67212,0 31.02917,-4.8834 35.57438,-6.38981c2.98881,3.33689 17.72864,19.80911 22.65478,24.85238c3.56721,3.65029 3.92856,7.21413 3.00944,9.74919c-0.91911,2.53506 -3.00568,4.49324 -7.5516,4.50716c-2.54455,0.00748 -4.73528,1.79804 -5.24902,4.2902c-1.34017,6.48151 -3.70523,7.40145 -6.11686,8.03451c-2.41163,0.63306 -4.73812,0.08398 -4.73812,0.08399c-1.58809,-0.43358 -3.28729,-0.11558 -4.61111,0.86295c-1.32382,0.97853 -2.12628,2.5097 -2.17763,4.15512c0,0 -0.17845,2.77515 -1.54671,5.15104c-1.36827,2.37589 -2.79317,4.37852 -9.17529,3.68132c-2.81059,-0.3091 -5.38018,1.61197 -5.87891,4.39518c-0.73144,4.09075 -2.95605,5.86656 -6.29183,6.4808c-3.33578,0.61423 -7.86575,-0.47792 -11.8278,-4.39518c-5.073,-5.01377 -23.57029,-23.87767 -31.94206,-32.42497c-3.70671,-3.78547 -8.78304,-5.9069 -14.06738,-5.9069h-4.72412c-1.93842,-0.02741 -3.74144,0.99102 -4.71865,2.66532c-0.97721,1.6743 -0.97721,3.74507 0,5.41937c0.97721,1.6743 2.78023,2.69273 4.71865,2.66532h4.72412c2.427,0 4.70002,0.9548 6.38981,2.6805c8.37673,8.55237 26.69938,27.24489 32.06103,32.54394c6.18238,6.11249 14.15432,8.6493 21.33203,7.32764c5.82,-1.07166 10.91719,-5.13077 13.4655,-10.91797c6.12962,-0.51139 10.83937,-3.32642 13.68245,-6.68376c0.07227,0.00379 0.1446,0.00613 0.21696,0.007c0,0 16.1749,0.28208 25.17431,0c6.26049,-0.19418 12.57191,-2.31903 18.14063,-7.20166c2.51213,-2.20111 5.53422,-3.42936 8.6084,-3.42936h3.12142c1.93842,0.02741 3.74144,-0.99102 4.71865,-2.66532c0.97721,-1.6743 0.97721,-3.74507 0,-5.41937c-0.97721,-1.6743 -2.78023,-2.69273 -4.71865,-2.66532h-3.12142c-5.92715,0 -11.43071,2.36297 -15.69108,6.09587c-3.91278,3.4307 -7.01919,4.40668 -11.38688,4.54215c-0.00233,0 -0.00467,0 -0.007,0c-2.93474,0.09212 -7.022,0.07322 -10.86898,0.06999c2.74196,-2.26031 5.20114,-5.54598 6.71875,-9.93815c6.20992,-1.41969 11.47322,-4.90697 13.4445,-10.34408c2.4331,-6.71084 0.54064,-14.8224 -5.43099,-20.93311c-4.52479,-4.63236 -24.61442,-27.01497 -24.61442,-27.01498c-1.44079,-1.60776 -3.70364,-2.19759 -5.74593,-1.49772c0,0 -20.47064,6.81673 -35.55339,6.81673c-2.23319,0 -4.17583,-0.26155 -5.87891,-0.68588c-2.14502,-0.53559 -2.9555,-1.92452 -3.14241,-3.72331c-0.18587,-1.78855 0.40273,-3.36759 2.20459,-4.2832l16.82487,-6.9847c0.21662,-0.0911 0.42703,-0.19631 0.62988,-0.31494l18.39258,-10.63102c4.06403,-2.023 8.38195,-2.17532 12.29671,-0.60889l24.22249,9.6862c2.75291,1.10583 5.692,1.66481 8.65039,1.66569l18.05664,0.007c1.93842,0.02741 3.74144,-0.99102 4.71865,-2.66532c0.97721,-1.6743 0.97721,-3.74507 0,-5.41937c-0.97721,-1.6743 -2.78023,-2.69273 -4.71865,-2.66532l-18.04964,-0.007c-1.59727,0 -3.17386,-0.29703 -4.64714,-0.88883c-0.00466,-0.00234 -0.00933,-0.00467 -0.014,-0.007l-24.22249,-9.6862c-3.38455,-1.35427 -6.99592,-1.94433 -10.59603,-1.77767z"></path></g></g></svg>
        </div>
      </div>
    </div>

      <h3 id="Intro-Paragraph">
        The Project
      </h3>
      <div id="intro-paragraph-div">
        <p>
          Our goal at MHKCC is to bring fun, charitable, life to our community. With the help of our boxes. 
          Loperm ipsum dolor.Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium 
          doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi 
          architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur 
          aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. 
          Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed 
          quia non numquam
        </p>
      </div>
    
    </div>
  </div >


  <div id="Divider">
    <a name="chests"></a>
  </div>
  <div id="Whitespace">
    <h2 id="chest-locations">
      Chests Locations
    </h2>
    <p>
      Click on a card
    </p>
    <div id="Content">
      <div id="MapDiv">
      </div>
    </div>
  </div>
  <div id="Contact">
    <a name="contact"></a>
    <div>
      <h2>
        Contact
      </h2>
      <p>
        Got a question? We would love to hear from you! Fill out the form below.
      </p>
    </div>
    
    <hr>

    <div id="contact-form">
      <%- contact %>
    </div>
  </div>
  

</div>