<div id="Intro">
    <h2 id="Intro-Paragraph">
      Welcome to the Manhattan Community Chest Project
    </h2>
    <p>
      Our goal at MHKCC is to bring fun, charitable, life to our community. With the help of our boxes. 
      Loperm ipsum dolor.Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium 
      doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi 
      architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur 
      aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. 
      Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed 
      quia non numquam
    </p>
  </div>

  <div id="Divider">
    <a name="chests"></a>
    <h2>
      Chests Locations
    </h2>
  </div>
  
  <div id=Whitespace>
    <div id=Content>
      <div id="MapDiv">
      </div>
    </div>
  </div>