<html lang="en">
<head>
  <meta charset="utf-8">

  <title>MHK Community Chest</title>
  <meta name="description" content="MHK Community Chest">
  <meta name="author" content = "Robert Clancy">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/site.css">
  <link rel="stylesheet" href="/navbar.css">
  <link rel="stylesheet" href="/sign-in-up.css">
  
</head>

<body>
  <div id="header-wrapper">
    <div id="Header">
      <h4>
        Build a Better Tomorrow
      </h4>
      <h1 class="headertext">
        MHK Community Chest
      </h1>
      <p id="User">
      </p>
    </div>
  </div>
  
  <div id="navbar-container">
    <%- navbar %>
  </div>
  <div>
    <%- content %>  
  </div>
  <div id="footer">
    <ul>
      <li>
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
          width="24" height="24"
          viewBox="0 0 172 172"
          style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#2f723b"><path d="M86,14.33333c-39.49552,0 -71.66667,32.17115 -71.66667,71.66667c0,39.49552 32.17115,71.66667 71.66667,71.66667c39.49552,0 71.66667,-32.17115 71.66667,-71.66667c0,-39.49552 -32.17115,-71.66667 -71.66667,-71.66667zM86,28.66667c31.74921,0 57.33333,25.58412 57.33333,57.33333c0,31.74921 -25.58412,57.33333 -57.33333,57.33333c-31.74921,0 -57.33333,-25.58412 -57.33333,-57.33333c0,-31.74921 25.58412,-57.33333 57.33333,-57.33333zM86,50.20866c-9.18585,0 -18.36848,3.48925 -25.33529,10.45605c-13.93361,13.93361 -13.93361,36.73697 0,50.67057c13.93361,13.93361 36.73697,13.93361 50.67057,0l-10.13411,-10.13411c-8.45506,8.45506 -21.94729,8.45506 -30.40235,0c-8.45506,-8.45506 -8.45506,-21.94729 0,-30.40235c8.45506,-8.45506 21.94728,-8.45506 30.40235,0l10.13411,-10.13411c-6.9668,-6.9668 -16.14943,-10.45605 -25.33528,-10.45605z"></path></g></g></svg>
          demo website written by Robert Clancy
        </li>
      <li>About</li>
      <li>Contact</li>
      <li>Careers</li>
      <li>Chests</li>
      <li>no links do anything btw</li>
    </ul>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="/site.js"></script>
  <script src="/navbar.js"></script>
  <script type="module" src="/user-requests.js"></script>
  </body>
</html>