<div>
  <h2>Requests</h2>
  <form method="POST" action="/box-locations/<%= id %>/requests">
    <label>Content</label>
    <textarea name="content" rows="10" required></textarea>
    <input type="submit" value="Post"/>
  </form>
</div>