<div>
  <h1 id="signin-h4">Sign In</h1>
  <form method="POST" class="signin-card">

    <div class="error-message">
      <%= errorMessage %>
    </div>

    <p>Hello, you can go ahead and and sign in with an account you created or sign in with my test account. All you have to do is supply g as the email and g as the password.</p>
    <label for="email">Email:</label>
    <input type="text" name="email" />

    <label for="passsword">Password:</label>
    <input type="password" name="password"/>

    <input type="submit" value="Sign In"/>

  </form>
</div>