<div id="sign-up"> 
  <h2>Sign Up</h2>
  <p> Hello, this form adds the given information into a sqlite database, please do not input any real information because although I do encrypt the password, I am not confident in my security practices!</p>
  <p>In a production website I would add a constraint to the length and characters required in the database. I would also send a confirmation email to the provided email.</p>
  <form method="POST" class="signin-card">

    <div class="error-message">
      <%= errorMessage %>
    </div>

    <label for="email">Email:</label>
    <input type="text" required="required" name="email" />
    
    <label for="first">First Name:</label>
    <input type="text" required="required" name="first" />
    
    <label for="last">Last Name:</label>
    <input type="text" required="required" name="last" />

    <label for="password">Password:</label>
    <input type="password" required="required" name="password"/>

    <label for="passwordConfirmation">Password Confirmation:</label>
    <input type="password" required="required" name="passwordConfirmation"/>

    <input type="submit" required="required" value="Create Account"/>

  </form>
</div>
