<div>
  <h1>Sign In</h1>
  <form method="POST">

    <div class="error-message">
      <%= errorMessage %>
    </div>

    <label for="email">Email:</label>
    <input type="text" name="email" />

    <label for="passsword">Password:</label>
    <input type="password" name="password"/>

    <input type="submit" value="Sign In"/>

  </form>
</div>