body{
  align-content: center;
}

#Content{
  top: 50%;
  left: 50%; 
}

img{
  width: 200px;
  height: 200px;
}

#Header{
  text-align: center;
}

#MapDiv{
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.Map{
  margin: 20px 20px 20px 20px;
}

@media (max-width: 680px){
  #MapDiv{
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

}
