html{
  font-family: 'Crimson Text', serif;
}

#Header{
  height: 40vh;
  display: flex;
  align-items: center;
  color: #032071;
  justify-content: center;
}

.Name{
  margin-bottom: 0px;
}

#Content{
  display: flex;
  width: 85vw;
  justify-content: center;
  margin: 15vh;
}

img{
  width: 200px;
  height: 200px;
}

#Header{
  text-align: center;
}

#MapDiv{
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: beige;
}

.EachMapDiv{
  border-radius: 2%;
  margin: 3vh 3vw 3vh 3vw;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  height: fit-content;
  width: fit-content;
  background-color: white;
}

.EachMapDiv:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#Intro{
  align-items: center;
  margin-top: 5vh;
  margin-bottom: 300px;
  display: flex;
  width: 65vw;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

h2{
  color: #17712f;
}

.Map{
  margin-top: 20px ;
}

@media (max-width: 680px){
  #MapDiv{
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }
}

#logo{
  width: 60px;
  height: auto;
}
