html{
  font-family: 'Crimson Text', serif;
  margin: 0 auto;
}

#Header{
  height: 60vh;
  display: flex;
  align-items: center;
  color: white;
  justify-content: center;
  background-image: url("view-4703515_1280.jpg");
  background-position: 10% 10%;
  background-size: cover;
  background-attachment: local;
}

h1{
  font-size: 80px;

}

.Name{
  margin-bottom: 0px;
}

#Content{
  display: flex;
  width: 85w;
  justify-content: center;
  margin: 5vh 10vw 20vh 10vw
}

img{
  width: 300px;
  height: 300px;
}

#Header{
  text-align: center;
}

#Whitespace{
  background: #f9f9ea;
  width: 100%;
}

#MapDiv{
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: beige;
}

.EachMapDiv{
  padding: 0px;
  margin: 2vh 2vw 2vh 2vw;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: white;
}

.EachMapDiv:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#Intro{
  align-items: center;
  margin-top: 3vh;
  margin-bottom: 200px;
  display: flex;
  width: 65vw;
  flex-direction: column;
  justify-content: center;
  margin: 15vh auto;
}

#Intro-Paragraph{
  margin: 5vh auto;
  font-size: 60px;
}

h2{
  color: #2f723b;
  text-align: center;
}

.Map{
  margin-top: 20px ;
}

@media (max-width: 680px){
  #MapDiv{
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }
}

#logo{
  width: 100px;
  height: auto;
}

#User{
  position: absolute;
  top: 5vh;
  right: 5vh;
  color: white;
}

#Divider{
  margin-top: 20vh;
}

#navbar-container{
  position: absolute;
  top: 5vh;
  left: 5vh;
}

